:root{
    --color1: #161b22;
    --color2: #0b0f14; 
    --color3: #da5b07; 
    --color4: #d7ddf4; 
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}


body{
   background-color: var(--color2);
}

.navbar{
    background-color: var(--color1);
}
.navbar a{
    color: var(--color4);
}
.navbar a:hover{
    color: var(--color3);
}

.navbar button{
    border: none;
}
.bi{
    color: var(--color4);
    font-size: 1rem;
}
.dropdown-menu{
    background-color: var(--color1);
}
.dropdown-item:hover{
    background: none;
}

.logo{
    width: 50px;
    height: 50px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 430px){
    

}